body {
	background-color: #000;
	text-align: center;
}

.title {
	font-size: 48px;
	color: #DDD;
}

.img-responsive {
	max-height: 35em;
	width: 50%;
	position: relative;
	margin: auto;
}

.form * {
	width: 100%;
}

.form {
	border: 1px solid white;
	padding: 2em 1em;
	max-width: 35em;
	margin: auto;
}

.container {
}

.fileUpload {
  position: relative;
  overflow: hidden;
	background-color: #FFF;
	color: black;
	text-align: center;
	margin-top: 1em;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.trademark {
	color: white;
	width: 50%;
	padding-left: 25%;
	text-align: center;
}

.flashy {
	font-size: 20px;
	font-weight: bold;
	height: 2em;
	overflow: hidden;
	list-style-type: none;
}

.flashy li {
	padding-top: 3px;
	margin-left: auto;
	margin-right: auto;
}

input[type=text] {
	text-align: center;
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
