{% extends "base.njk" %}
{% block head %}
<title>Commands</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block jsincludes %}
{% endblock %}
{% block prebody %}
{{ flashy() | safe}}
{% endblock %}
{% block nav %}
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
<div style="width: 50%; padding-left: 25%; text-align: left;">
  <h3 style="color:#999; border-bottom: 1px solid rgba(170, 170, 170, .4)">!skip: skips the current queue</h3>
  {% for command in commands %}
  <h3 style="color:#999; border-bottom: 1px solid rgba(170, 170, 170, .4)">!{{ command }}</h3>
  {% endfor %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
{% endblock %}
