{% extends "base.njk" %}
{% block head %}
<title>Commands</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block jsincludes %}
{% endblock %}
{% block prebody %}
{{ flashy() | safe}}
{% endblock %}
{% block nav %}
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
<h1 style="color: lightgray;">Coming Soon!</h1>
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
{% endblock %}
